
.grid-2 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex-cols {
  display: flex;
  gap: 2rem;
  margin-left: calc(50% - 37.5vw + 3rem);
  margin-right: calc(50% - 37.5vw + 3rem);
}

.flex-wrap {
  flex-wrap: wrap;
}



.content-cols>figure{
  margin: 0;
}

.content-cols>p:empty {
  display: none;
}

.content-cols>p:empty + figure,
.content-cols>p:empty + figure>img,
.content-cols>p:empty + figure>video {
  margin-top: 0;
}