<style>
    /* @font-face {
        font-family: 'IBM Plex Mono Semibold 600';
        src: url({{ "fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'IBM Plex Mono Regular 400 Italic';
        src: url({{ "fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans Italic';
        src: url({{ "" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans Bold Italic';
        src: url({{ "" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    } */

    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400;1,700&family=Quicksand:wght@500;700&display=swap');


    body {
        font-family: "Quicksand", sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "IBM_Plex_Mono", monospace;
    }

    .slide-meta-title{
        font-family: "IBM_Plex_Mono", monospace !important;
    }

</style>